.btn {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease-in-out;
    border: 0;
    cursor: pointer;
}

.btn-r {
    border-radius: 10px;
}

.btn-r-tl {
    border-top-left-radius: 10px;
}

.btn-r-tr {
    border-top-right-radius: 10px;
}

.btn-r-bl {
    border-bottom-left-radius: 10px;
}

.btn-r-br {
    border-bottom-right-radius: 10px;
}


.btn-color-white {
    color: #ffffff;
}

.btn:hover {
    opacity: .8;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-finger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-block {
    width: 100%;
    display: block;
}
