.card-name {
    font-size: 6px;
    font-weight: 500;
    color: #001a40;
    padding-top: 16px;
    padding-left: 15px;
}

.card-number {
    font-size: 4px;
    font-weight: 500;
    color: #fff;
    padding-left: 4px;
    padding-top: 5px;
}

.card-holder-name {
    font-size: 4px;
    font-weight: 500;
    color: #fff;
    padding-left: 4px;
}

.card {
    padding: 8px;
    background: #ffffff;
    border-radius: 10px;
}

.card-header {
    background-color: #001a40;
    padding: 10px 20px;
    margin: -8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header .value {
    text-align: end;
    margin-top: -25px;
    font-size: 16px;
}



.card-header h4 {
    font-weight: 600;
}