 /*
 ----------------------
 Import Google Fonts
 ----------------------
 */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100; 0,300; 0,400; 0,700; 0,900; 1,300; 1,400; 1,700; 1,900&display=swap");
 /*
 ----------------------
Front import end
 ----------------------
 */


* { margin: 0; padding: 0; list-style: inherit; box-sizing: border-box; font-family: "Lato", sans-serif; } 

::-webkit-scrollbar { display: none; } 

/* Hide scrollbar for IE, Edge and Firefox */
::-webkit-scrollbar { -ms-overflow-style: none; /* IE and Edge */
scrollbar-width: none; /* Firefox */ } 

body { background: #e6e6e6; } 

h1,
h2,
h3,
h4,
h5,
h6 { font-family: "Lato", sans-serif; font-weight: 400; color: #252525; } 

 /*
 ----------------------
Font Section
 ----------------------
 */

.fsw-16 { font-size: 16px !important; line-height: 20px !important; } 
.fsw-18 { font-size: 18px !important; line-height: 20px !important; } 

.fs-12 { font-size: 12px !important; line-height: 16px !important; } 
.fs-14 { font-size: 14px; line-height: 17px; } 
.fs-16 { font-size: 16px !important; line-height: 20px !important; } 
.fs-18 { font-size: 18px !important; line-height: 20px !important; } 
.fs-20 { font-size: 20px !important; line-height: 30px !important; } 
.fs-24 { font-size: 20px !important; line-height: 23px !important; } 


.fb-16 { font-size: 16px; line-height: 20px; } 
.fb-18 { font-size: 18px; line-height: 20px; } 
.fb-22 { font-size: 22px; line-height: 25px; } 
.fb-24 { font-size: 24px !important; line-height: 28px !important; } 
.fb-32 { font-size: 32px !important; line-height: 38px !important; } 
.fb-36 { font-size: 36px !important; line-height: 42px !important; } 
.fb-40 { font-size: 40px !important; line-height: 47px !important; } 

.fxb-36 { font-weight: 900 !important; font-size: 34px !important; line-height: 42px !important; } 

.ff-lato { font-family: "Lato", sans-serif; } 
/* .ff-poppins { font-family: 'Poppins', sans-serif; } */


/* Font weight Section */
.fw-400 { font-weight: 400; } 
.fw-500 { font-weight: 500; } 
.fw-600 { font-weight: 600; } 
.fw-700 { font-weight: 700; } 
.fw-800 { font-weight: 800; } 
.fw-900 { font-weight: 900; } 