/* display css added. */

.d-f{display: flex !important}
.d-block {display: block!important;}
.d-none {display: none!important;}
.position-static{position: static!important;}
.position-a{position: absolute;}
.justify-center{justify-content: center;}
.justify-end{justify-content: end;}






.text-white{color: #fff !important;}
.text-center{text-align: center;}
.w-100{width: 100%;}
.w-p-10{width: 10px;}
.p-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.p-text a{
    font-weight: 700;
    color: #937651;
    text-decoration: none;
}

.text-forgot-pass,
.text-sign-up{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.text-forgot-pass a,
.text-sign-up a{font-weight: 400;}
.text-forgot-pass a{color: #fff;}
.text-sign-up a{color: #BF9C76;}


.text-black {
    color: black;
  }



  .float-r {
    float: right;
  }


  .collapsible {
    background-color: #ffffff;
    color: #001a40;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
  }

  .active,
  .collapsible:hover {
    background-color: #fdfdfd;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .border-none {
    border-bottom: none;
  }
  .text-forgot-pass,
  .text-sign-up{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
  }
  .text-forgot-pass a,
  .text-sign-up a{font-weight: 400;}
  .text-forgot-pass a{color: #fff;}
  .text-sign-up a{color: #BF9C76;}
  
  /* ./SignIn Page*/

  .d-f{display: flex !important;}
.d-block {display: block!important;}
.d-none {display: none!important;}
.position-static{position: static!important;}
.position-a{position: absolute;}
.justify-center{justify-content: center;}
.justify-a-c{justify-items: center;}
.justify-end{justify-content: end;}

.text-white{color: #fff !important;}
.text-center{text-align: center;}
.text-d-none {text-decoration: none;}
.text-d-underline {text-decoration: underline;}
.border-b-blue {border-bottom: 1px solid #001a40 !important;}
.border-b-gold {border-bottom: 1px solid #BF9C76 !important;}

.w-80 {width: 80%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-45 {width: 45%;}
.w-100{width: 100%;}
.w-p-10{width: 10px;}

.h72 { height: 72px; }
.h76 { height: 76px; }

.p-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.p-text a{
    font-weight: 700;
    color: #937651;
    text-decoration: none;
}

/*SignIn Page*/
.text-forgot-pass,
.text-sign-up{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.text-forgot-pass a,
.text-sign-up a{font-weight: 400;}
.text-forgot-pass a{color: #fff;}
.text-sign-up a{color: #BF9C76;}

