/* display css added. */
.d-block { display: block; } 
.d-none { display: none; } 
.d-f { display: flex; } 
.justify-center { justify-content: center; } 
.justify-end { justify-content: end; } 
.justify-a-c { justify-items: center; } 

.position-static { position: static; } 
.position-a { position: absolute; } 


.float-r { float: right; } 
.float-l { float: left; } 



.collapsible { background-color: #ffffff; color: #001a40; cursor: pointer; padding: 16px; width: 100%; border: none; text-align: left; outline: none; font-size: 18px; } 
.active,
.collapsible:hover { background-color: #fdfdfd; } 
.content { padding: 0 18px; display: none; overflow: hidden; background-color: #f1f1f1; } 


