/* wrapper css */

.wrapper {
    min-height: 100vh;
    position: relative;
    max-width: 428px;
    margin: 0 auto;
}

.wrapper .logo {
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper .logo a {
    display: block;
    text-align: center;
}

.wrapper .logo img {
    height: 62px;
}

.bg-none {
    background: none;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background: #000000;
}

.bg-blue-8 {
    background: #001229;
}

.bg-common {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-img {
    background-image: url("../img/AI_Image\ 2\ blue.png");
}

.bg-img-white {
    background-image: url("../img/ai_image_invert.png");
}

.bg-pro-info {
    background-image: url("/assets/img/bg-pro-info.png");
}

/* */